@import "fonts.css";
/* Common */

body {
    background: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    color: #656b6f;
    overflow-x: hidden;
    color: #000;
}

.container {
    width: 1010px;
    padding-left: 35px;
    padding-right: 35px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.clearfix {
    clear: both;
}

* {
  box-sizing: border-box;
}

.section-title {
    font-size: 42px;
    line-height: 46px;
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: -.4px;
}

.section-title.page h1 {
    text-align: left;
    margin-top: 50px;
    font-size: 42px;
    line-height: 46px;
    font-weight: 800;
    color: #000;
    letter-spacing: -.4px;
}

/* Header */

.header-top {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
}

.header-top-wrap {
    display: flex;
    justify-content: space-between;
}

.header-top-wrap ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-top-wrap ul li {
    display: inline-block;
    margin-right: 25px;
    line-height: 40px;
}

.header-top-wrap ul li a {
    font-size: 15px;
    color: #282828;
    font-weight: 400;
}

.header-top-nav-profile > ul > li {
    margin-right: 0;
    margin-left: 4px;
}

.header-info {
    height: 126px;
    line-height: 123px;
    display: flex;
    justify-content: space-between;
}

.header-logo-wrap {
    float: left;
    margin-right: 70px;
}

.phone-top-wrap {
    float: left;
}

.phone-top {
    font-size: 21px;
    font-weight: 600;
    color: #0d0d0d;
    letter-spacing: 0.4px;
    line-height: 124px;
}

.cart-wrap__product {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
}

.cart-wrap__product img {
    width: 30px;
    height: 30px;
}

.product-number {
    position: absolute;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    top: 42px;
    left: 18px;
    width: 23px;
    height: 23px;
    border-radius: 25px;
    background-color: #00295b;
    background-position: center;
}

.cart-wrap p {
    float: left;
    font-size: 15px;
    color: #181818;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3px;
    margin-left: 20px;
}

.header-bottom {
    height: 80px;
    background-color: #00295b;
}

.header-menu > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.header-menu > ul > li {
    display: inline-block;
}

.header-menu > ul > li > a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 80px;
}

.header-menu > ul > li > a:focus {
    text-decoration: none;
}

.header-menu > ul > li > a:hover {
    text-decoration: none;
    opacity: .8;
}

.dropdown-menu {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #002552;
    padding: 25px 0 5px 30px;
}

ul.dropdown-menu >li > a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 25px;
    padding: 0%;
}

.header-menu-items img {
    width: 26px;
    height: 26px;
    position: relative;
    margin-right: 20px;
}

.mobile-header {
    position: absolute;
    top: 0;
}

ul.mob-menu {
    margin: 0;
    list-style: none;
    padding: 20px 0;
}

.menu-btn{
    color: #002552;
    font-size: 23px;
    margin-top: 5px;
    cursor: pointer;
}

.pushy ul.mob-menu:first-child {
    margin-top: 0;
}

.pushy ul.mob-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    padding: 15px 30px;
}

.pushy ul.mob-menu a > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.pushy-open-right .pushy {
    background-color: #00295b!important;
    width: 70%;
    z-index: 99999;
}

.pushy-open-right .pushy .menu-btn {
    left: 27%;
    top: 15%;
    font-size: 25px;
}

.pushy-open-right .pushy .mobile-logo {
    height: 24px;
    margin-top: -7px;
}

.pushy-open-right .pushy .categories-list {
    margin-top: 10px;
}

.header-menu-items:last-child {
    margin-right: 12px;
    letter-spacing: -0.2px;
}

/* Index */

.main-slider {
    margin-bottom: 13px;
}

.main-slider .slide {
    height: 390px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid #f2f2f2;
}

.main-slider.owl-theme .owl-nav {
    position: relative;
    top: -73px;
}

.main-slider .owl-prev {
    position: relative;
    width: 42px;
    height: 42px;
    left: -23px;
    background-image: url(../img/icons/arrow.svg)!important;
    background-color: transparent!important;
}

.main-slider .owl-next {
    position: relative;
    width: 42px;
    height: 42px;
    left: 60px;
    transform: rotate(180deg);
    background-image: url(../img/icons/arrow.svg)!important;
    background-color: transparent!important;
}

.main-slider .owl-dots {
    counter-reset: slides-num;
    position: absolute;
    left: 50%;
    bottom: 102px;
    color: #000000;
}

.main-slider .owl-dots:after {
    content: "/"  counter(slides-num);
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding-left: 7px;
 }

.main-slider .owl-dot {
    display: inline-block;
    counter-increment: slides-num;
    margin-right: 5px;
}

.main-slider .owl-dot span {
    display: none!important;
}

.main-slider .owl-dot.active:before {
     content:  counter(slides-num);
     display: inline-block;
     vertical-align: middle;
     font-size: 30px;
     position: absolute;
     left: 0;
     top: 0;
 }

.main-slider .main-slider__title {
    font-weight: 800;
    font-size: 50px;
    color: #000000;
    line-height: 54px;
    margin-top: 40px;
    letter-spacing: -.6px;
}

.slide-present__wrap {
    display: flex;
    margin-top: 16px;
    height: 62px;
}

.main-slider .slide-present__wrap p {
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    line-height: 62px;
    margin-right: 21px;
    letter-spacing: -.3px;
}

.owl-carousel .owl-item img.slide-present {
    width: 62px;
}

.slide-present {
    width: 62px;
    height: 62px;
}

.main-slider__btn {
    width: 210px;
    height: 55px;
    line-height: 55px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #e93832;
    padding: 0;
    border-radius: 2px;
    position: absolute;
    bottom: 68px;
}

.main-slider__btn:hover {
    color: #fff;
    opacity: .9;
    text-decoration: none;
}
.popular-product {
    margin-bottom: 53px;
}

.popular-product:after {
    content: "";
    position: absolute;
    background-color: #f2f3f6;
    height: 61%;
    width: 100%;
    top: 39%;
    z-index: -1;
}

.why-we {
    background-color: #f2f3f6;

}

.why-we__wrap {
    display: grid;
    grid-template-columns: repeat(3, 4fr);

    margin-top: 30px;
}

.why-we__wrap-item {
    max-width: 280px;
    text-align: center;
    margin: 0 auto 100px;
}

.why-we__wrap-img {
    text-align: center;
}

.why-we__wrap-img {
    width: 251px;
    height: 189px;
    line-height: 189px;
    margin-bottom: 30px;
}

.why-we__wrap-img img {
    max-height: 189px;
    max-width: 251px;
}

.why-we__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.why-we__wrap-item p {
    font-size: 14px;
    font-weight: 400;
}

.info-company {
    background-color: #00295b;
    height: 220px;
}

.info-company__logo-wrap {
    line-height: 220px;
}

.info-company__logo-wrap img {
    max-width: 300px;
    max-height: 100px;
}

.info-company__info-wrap {
    height: 220px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    max-width: 470px;
    line-height: 26px;
}

.history {
    background-image: url(../img/bg_advantages.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.history-wrap hr {
    width: 4px;
    height: 87px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f2f3f6;
    position: relative;
    right: 2px;
}

.history-wrap__item.left {
    min-height: 240px;
    border-right: 4px solid #f2f3f6;
}

.history-wrap__item.left:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #00295b;
    border-radius: 20px;
    right: -13px;
    background-color: #fff;
}

.history-wrap__item.right {
    min-height: 240px;
    border-left: 4px solid #f2f3f6;
    position: relative;
    right: 4px;
    padding-left: 60px;
}

.history-wrap__item.right:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid #00295b;
    border-radius: 20px;
    left: -13px;
    background-color: #fff;
}

.history-wrap__item-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 14px;
    max-width: 410px;
}

.history-wrap__item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 410px;
}

.news {
    background-color: #f2f3f6;
    padding: 70px 0 40px;
}

.wrap-item-big {
    margin-bottom: 30px;
    width: 100%;
    height: 299px;
    background-position: top right;
}

.wrap-item-news {
    margin-bottom: 30px;
}

.wrap-item-big {
    position: relative;
}

.wrap-item-big__img {
    width: 100%;
    height: 299px;
}

.wrap-item-big__img img {
    width: 100%;
    max-height: 299px;
}

.wrap-item-big__content {
    position: absolute;
    top: 0;
    width: 50%;
    color: #fff;
    padding: 43px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 299px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.wrap-item-big__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 10px;
}

.wrap-item-news {
    position: relative;
    max-width: 470px;
    height: 299px;
    width: 100%;
}

.wrap-item-news img {
    width: 100%;
}

.wrap-item-news__content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 30px;
}

.wrap-item-news__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 10px;
}

.wrap-item-news__no-img {
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 40px 30px;
}

.wrap-item-news:nth-of-type(3n) {
    float: right;
}

.dispatch {
    width: 100%;
    height: 180px;
    background-color: #00295b;
    background-image: url(../img/dispatch.jpg);
    background-repeat: no-repeat;
}

.dispatch__wrap {
    display: flex;
    justify-content: space-between;
}

.dispatch__content {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    padding: 50px 0;
}

.dispatch__content p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.dispatch__mail {
    width: 310px;
    height: 55px;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 400;
}

.dispatch__btn {
    width: 110px;
    height: 55px;
    background-color: #e93832;
    border: none;
    position: relative;
    bottom: 2px;
    right: 3px;
}

.dispatch__btn img {
    width: 36px;
}

.dispatch__form {
    padding: 60px 0;
}

::-webkit-input-placeholder {
    color:#c6c6c6;
}

::-moz-placeholder          {
    color:#c6c6c6;
}

:-moz-placeholder           {
    color:#c6c6c6;
}

:-ms-input-placeholder      {
    color:#c6c6c6;
}

/*Products*/

.product-ifo-block {
    height: 270px;
    width: 100%;
    background-image: url(../img/bg_roller.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
}

.product-ifo-block h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin: 30px 0;
}

.product-ifo-block p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 20px;
}

.category-product {
    padding-top: 15px;
    background-color: #eeeeee;
}

.category-filter {
    padding-top: 35px;
    background-color: #eeeeee;
}

.category__wrap {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    margin-bottom: 60px;
}

.product-filter__for-whom-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 15px;
}

.product-filter__category {
    width: 300px;
    height: 55px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    display: block;
    transition: all .5s;
    margin: 0 0 20px;
}

.product-filter__category:hover {
    background-color: #e93832;
    color: #fff;
    transition: all .5s;
}

.product-filter__category.active {
    background-color: #e93832;
    color: #fff;
}

.product-filter__checkbox {
    display: none;
}

.category__for-whom-wrap {
    position: relative;
}

.category__for-whom-wrap label {
    margin-left: 50px;
    line-height: 28px;
    cursor: pointer;
}

.category__for-whom-wrap label:after {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.category__for-whom-wrap .product-filter__checkbox:checked + label:after {
    border: 2px solid #fff;
    width: 28px;
    height: 28px;
    background-image: url(../img/icons/check-symbol.svg);
    -webkit-background-size: 14px 12px;
    background-size: 14px 12px;
    background-repeat: no-repeat;
    background-position: center;
}

a.select-size {
    width: 100%;
    max-width: 300px;
    height: 55px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    outline: none;
    color: #000;
    background-color: #fff;
    background-image: url(../img/icons/arrow_s.svg);
    -webkit-background-size: 15px 13px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: 90% center;
    -webkit-appearance: none;
    display: block;
    line-height: 55px;
}

a.select-size:hover, a.select-size:focus {
    text-decoration:  none;
}

.select-size__content {
    position: absolute;
    background-color: #fff;
    display: none;
    z-index: 1;
    width: 100%;
    max-width: 300px;
}

.select-size__content > ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    border-bottom: 1px solid #eee;
    margin: 0;
}

.select-size__content > ul > li {
    text-align: center;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #eee;
}

.select-size__content > ul > li > a {
    color: #000;
    width: 45px;
    height: 45px;
    display: block;
    margin: 5px auto 0;
    border-radius: 25px;
    line-height: 45px;
}

.select-size__content > ul > li > a.active {
    color: #fff;
    background-color: #00295b;
    text-decoration: none;
}

.select-size__content > ul > li > a:hover {
    color: #fff;
    background-color: #00295b;
    text-decoration: none;
}

.category-for-whom__wrap {
    margin-bottom: 20px;
}

.product-wrap {
    margin: 0 auto;
    width: 300px;
    height: 410px;
    border: 1px solid #f3f3f3;
    margin-bottom: 37px;
    margin-right: 35px;
    background-color: #fff;
    position: relative;
}

.product-wrap:nth-of-type(3n) {
    margin-right: 0;
}

.product-wrap a:hover {
    text-decoration: none;
}

.product-wrap__img {
    width: 100%;
    height: 260px;
    text-align: center;
    line-height: 260px;
}

.product-wrap__img img {
    max-width: 280px;
    max-height: 260px;
}
.product-wrap__title {
    width: 250px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 5px 25px 0;
    color: #000;
}

.product-wrap__price-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 25px;
}

.price-wrap__price {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.price-wrap__price span {
    color: #d7d7d7;
    font-size: 24px;
}
.price-wrap__price-old {
    font-size: 24px;
    font-weight: bold;
    color: #d7d7d7;
    text-decoration: line-through;
    margin-right: 12px;
}

.price-wrap__price-old span {
    font-size: 16px;
}

.product-wrap:hover .product-wrap__price-wrap{
    margin-top: 10px;
    transition: all .5s;
}

.product-wrap:hover .price-wrap__price {
    font-size: 19px;
    transition: all .5s;
}

.product-wrap:hover .price-wrap__price-old {
    font-size: 15px;
    transition: all .5s;
}

.product-wrap__size-wrap {
    display: none;
}

.product-wrap__size-wrap ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.product-wrap__size-wrap ul li {
    display: inline-block;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding: 0 3px;
}

.product-wrap:hover .product-wrap__size-wrap {
    display: block;
}

.products-present {
    width: 49px;
    height: 49px;
    position: absolute;
    top: 13px;
    right: 13px;
}

.products-present.products-present__left {
    left: 13px;
}

.products-new {
    position: absolute;
    right: 0;
    width: 69px;
}

.products-new:after{
    content: "новинка";
    position: absolute;
    top: 16px;
    right: -3px;
    transform: rotate(45deg);
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.page-nav > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.page-nav > ul > li > a {
    width: 46px;
    height: 46px;
    background-color: #fff;
    padding: 12px 0;
    margin: 10px;
    display: block;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.page-nav > ul > li > a:hover {
    text-decoration: none;
    background-color: #e93832;
    color: #fff;
}

.page-nav > ul > li > a.active {
    text-decoration: none;
    background-color: #e93832;
    color: #fff;
}

/* Promo */

.promo__caption {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 15px;
}

.terms-use > ul {
    padding-left: 20px;
    margin-bottom: 40px;
}

.terms-use > ul > li {
    color: #00295b;
    font-size: 24px;
}

.terms-use > ul > li > p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    margin-bottom: 15px;
}

.promo-note  > ul {
    padding-left: 17px;
    margin-bottom: 40px;
    list-style: decimal;
}

.promo-note > ul > li {
    color: #00295b;
    font-size: 18px;
    font-weight: bold;
}

.promo-note > ul > li > p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    margin-bottom: 15px;
    font-style: normal;
}

.promo-note p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    font-style: italic;
    margin-bottom: 60px;
}

/* Registration */

.registration-page .section-title {
    margin-bottom: 30px;
}

.registration-page p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 730px;
}

.form label {
    display: block;
    font-weight: 400;
}

.form label p{
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
    display: block;
    margin-top: 25px;
}

.form input {
    outline: none;
    display: inline-block;
}

.form input.phone {
    letter-spacing: .5px;
}

.form .valid {
    color: #e93832;
    font-weight: 400;
    font-size: 14px;
    display: none;
    background-image: url(../img/icons/err.svg);
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
    background-position: center left;
    background-repeat:no-repeat;
    padding-left: 20px;
    line-height: 53px;
    margin-left: 20px;
}


.form .btn {
    background-color: #e93832;
    width: 230px;
    height: 55px;
    line-height: 55px;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 50px 0;
    outline: none;
}

.input-group {
    height: 55px;
    width: 280px;
    border: 1px solid #e1e4e9;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 15px;
    olor: #0f0f0f;
}

.input-group.input-group-min {
    width: 190px;
}

/* Authorization */

.auth-page .section-title {
    margin-bottom: 30px;
}

.form .btn-auth {
    width: 190px;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a{
    color: #4b66db;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #4b66db;
    transition: all .3s;
}

.forgot-password a:hover {
    text-decoration: none;
    color: #00295b;
    border-bottom: 1px solid #00295b;
    transition: all .3s;
}

/*Area*/

.area-page {
    margin-bottom: 30px;
}

.personal-data__email {
    font-weight: 600;
    font-size: 16px;
}

.personal-data__email p {
    margin-top: 20px;
}

.personal-data__password {
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 55px;
}

.successfully {
    font-size: 14px;
    font-weight: 400;
    color: #41c955;
    margin-left: 20px;
}

.successfully img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}
/* Footer */

.bottom-menu {
    margin: 40px 0;
}

.bottom-menu__column > ul {
    list-style: none;
    padding-left: 0;
}

.bottom-menu__column > ul > li {
    margin-bottom: 20px;
}

.bottom-menu__column > ul > li > a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.bottom-menu__column > ul > li > a.bottom-main-menu__item {
    font-weight: bold;
}

.footer-bottom {
    border-top: 1px solid #eeeeee;
    height: 90px    ;
}

.footer-bottom__wrap {
    display: flex;
    justify-content: space-between;
    line-height: 90px
}

.footer-bottom__phone {
    font-weight: 600;
    font-size: 22px;
    color: #0d0d0d;
}

.footer-bottom__soc > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

a.footer-bottom__soc-item {
    width: 46px;
    height: 46px;
    border: 1px solid #f0f0f0;
    padding: 15px 12px;
    border-radius: 25px;
    margin: 15px;
}

.footer-bottom__desc {
    font-size: 12px;
    font-weight: 400;
    color: #9d9fa3;
}

@media (max-width: 1170px) {

    .container {
        width: 100%;
    }

    .product-filter__category {
        margin: 0 auto 20px;
    }

    .product-wrap {
        margin-right: auto;
    }

    a.select-size {
        margin: 0 auto;
    }

    .product-filter__for-whom-wrap {
        justify-content: space-evenly;
        max-width: 400px;
    }
}

@media (max-width: 991px) {

    .header-menu-items img {
        margin-right: 3px;
        width: 22px;
        height: 22px;
        top: -2px;
    }

    .header-menu > ul > li > a {
        font-size: 14px;
    }

    .main-slider .main-slider__title {
        font-size: 40px;
    }

    .main-slider .slide-present__wrap p {
        font-size: 26px;
    }

    .why-we__wrap {
        grid-template-columns: repeat(2, 6fr);
    }

    .dispatch__content {
        max-width: 360px;
        padding: 30px 0;
    }

    .dispatch__mail {
        width: 250px;
    }

    .dispatch__btn {
        width: 90px;
    }

    .product-wrap {
        margin-right: auto;
    }

    .product-filter__for-whom-wrap {
        justify-content: space-evenly;
    }

    .product-filter__for-whom-wrap {
        max-width: 100%;
    }

    .successfully {
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 767px) {

    .container {
        width: 100%;
    }

    .header-bottom {
        height: 1px;
    }

    .header-top-wrap {
        display: block;
    }

    .header-top-nav-profile {
        float: right;
    }

    .header-info {
        width: 100%;
    }

    .why-we__wrap {
        grid-template-columns: repeat(1, 12fr);
    }

    .history-wrap hr {
        margin-right: 0;
    }

    .history-wrap__item.right {
        border-left: none;
        border-right: 4px solid #f2f3f6;
        right: 0;
        padding-left: 0;
    }

    .history-wrap__item.right:before {
        right: -13px;
        left: auto;
    }

    .wrap-item-big__content {
        width: 60%;
    }

    .dispatch__wrap {
        flex-wrap: wrap;
        text-align: center;
    }

    .dispatch__content {
        max-width: 100%;
        width: 100%;
        padding: 15px 0;
    }

    .dispatch__form {
        padding: 0;
        margin: 0 auto;
    }

    .bottom-menu__column > ul {
        text-align: center;
    }

    .product-filter__for-whom-wrap {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .form .valid {
        margin-left: 0;
    }

}

@media (max-width: 560px) {
    .header-logo-wrap {
        float: left;
        margin-right: 20px;
    }

    .phone-top {
        font-size: 18px;
    }

    .main-slider .main-slider__title {
        line-height: 44px;
    }

    .main-slider .slide-present__wrap p {
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px;
        max-width: 240px;
    }

    .owl-carousel .owl-item img.slide-present {
        position: relative;
        top: 14px;
    }

    .wrap-item-big__content {
        width: 75%;
    }

    .dispatch__content {
        font-size: 25px;
    }

    .footer-bottom__wrap{
        flex-wrap: wrap;
        justify-content: center;
        line-height: 45px;
        padding-top: 30px;
    }

    .product-filter__for-whom-wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .category__for-whom-wrap {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .phone-top {
        position: absolute;
        line-height: 50px;
        right: 15px;
    }

    .cart-wrap {
        line-height: 155px;
    }

    .product-number {
        top: 57px;
    }

    .main-slider .main-slider__title {
        font-size: 30px;
        line-height: 34px;
    }

    .main-slider .slide-present__wrap p {
        font-size: 20px;
        line-height: 24px;
    }

    .wrap-item-big__content {
        width: 100%;
    }

    .wrap-item-news__no-img {
        line-height: 18px;
        padding: 20px 20px;
    }

    .dispatch__content {
        font-size: 24px;
        line-height: 26px;
        padding: 15px 0 0;
    }

    .dispatch__content p {
        font-size: 14px;
        margin-top: 0px;
    }
}

@media (max-width: 395px) {

    .pushy ul.mob-menu a > img {
        display: none;
    }

    .wrap-item-news__content {
        height: 100%;
        padding: 43px;
    }

    .dispatch__content p {
        font-size: 15px;
        line-height: 18px;
        margin-top: 10px;
    }

    .dispatch__mail {
        width: 200px;
        height: 40px;
    }

    .dispatch__btn {
        width: 70px;
        height: 40px;
    }

}

@media (max-width: 340px) {

    .product-wrap__title {
        width: 230px;
    }

    .product-wrap {
       width: 280px;
    }

    .input-group {
        width: 260px;
    }

    .dispatch__mail {
        width: 180px;
        height: 40px;
    }
}



@media (max-width: 340px) {
    .bottom-menu__column > ul > li > a {
        color: #000;
        font-size: 15px;
        font-weight: 400;
    }
}