@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

/* Common */

body {
    background: #f1f5f8;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    color: #000;
}

.container {
    width: 1230px;
    padding-left: 45px;
    padding-right: 45px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.clearfix {
    clear: both;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-wrap-desc {
    flex-wrap: wrap;
}

input {
    outline: none;
}

input.btn:focus {
    outline: none;
}

input.btn:active {
    outline: none;
    box-shadow: none;
}

/* Header */

.header {
    width: 100%;
}

.header-top {
    background-color: #4b4b4b;
}

.header-logo-wrap {
    line-height: 200px;
    float: left;
    margin-right: 65px;
}

.header-top__title {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    max-width: 700px;
    text-transform: uppercase;
    margin-top: 74px;
    line-height: 25px;
}

.form-search {
    margin-top: 80px;
}

.input-search {
    width: 180px;
    height: 38px;
    border: 1px solid #dadada;
    border-right: none;
    padding-left: 7px;
    line-height: 14px;
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #dadada;
}

::-moz-placeholder {
    color: #dadada;
}

:-moz-placeholder {
    color: #dadada;
}

:-ms-input-placeholder {
    color: #dadada;
}

.btn-search {
    width: 50px;
    height: 38px;
    border: 1px solid #dadada;
    border-left: none;
    padding: 0;
    border-radius: 0;
    margin-left: -4px;
    margin-top: -4px;
    background-color: #fff;
    background-image: url(../img/icons/search.png) !important;
    -webkit-background-size: 17px 17px;
    background-size: 17px 17px;
    background-position: center;
    background-repeat: no-repeat;
    outline: none !important;
    transition: all .5s;

}

.btn-search:active {
    -webkit-background-size: 16px 176px;
    background-size: 16px 16px;
    transition: all .5s;
}

.lang {
    margin-top: 80px;
}

a.lang__item {
    width: 38px;
    height: 38px;
    background-color: #fff;
    display: block;
    text-align: center;
    line-height: 38px;
    text-transform: uppercase;
    color: #ed1c24;
    margin-left: 12px;
    border: 1px solid #dadada;
    transition: all .5s;
}

a.lang__item:hover,
a.lang__item:focus {
    border-color: #ed1c24;
    color: #fff;
    background-color: #ed1c24;
    transition: all .5s;
    text-decoration: none;
}

a.lang__item.active {
    border-color: #ed1c24;
    color: #fff;
    background-color: #ed1c24;
}

.header-menu {
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 5px 9px rgba(208, 208, 208, 0.8);
    margin-bottom: 39px;
}

.header-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -30px;
}

.header-menu ul > li {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.header-menu ul > li > a {
    font-size: 16px;
    color: #212121;
    font-weight: 400;
    line-height: 100px;
    width: auto;
    display: block;
    padding: 0 65px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    transition: all .4s;
}

.header-menu ul > li > a.first {
    border-left: 2px solid #e3e3e3;
    padding: 0 50px;
}

.header-menu ul > li > a.last {
    border-right: 2px solid #e3e3e3;
}

.header-menu ul > li > a:hover,
.header-menu ul > li > a:focus,
.header-menu ul > li > a.active {
    text-decoration: none;
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: #ffffff;
    transition: all .4s;
}

ul.dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 230px;
}

.header-menu ul.dropdown-menu > li {
    width: 100%;
}

.header-menu ul.dropdown-menu > li > a {
    height: 47px;
    line-height: 47px;
    color: #000;
    width: 100%;
    display: block;
    padding-left: 30px;
    border: none;
    transition: all .4s;
}

.header-menu ul.dropdown-menu > li > a:hover,
.header-menu ul.dropdown-menu > li > a:focus {
    background-color: #f7f7f7;
    color: #ed1c24;
    border: none;
    transition: all .4s;
}

.menu-btn {
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.pushy ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.pushy ul.mob-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    padding: 15px 30px;
}

.pushy ul.mob-menu a:hover,
.pushy ul.mob-menu a:focus {
    background-color: #ed1c24;
    color: #fff;
}

.pushy-open-right .pushy {
    background-color: #4b4b4b!important;
    width: 70%;
    z-index: 99999;
}

.pushy-open-right .pushy .menu-btn {
    left: auto;
    font-size: 25px;
}

.pushy ul.dropdown-menu {
    padding: 0;
    margin: 0;
    width: 100%;
}

.pushy .dropdown-menu {
    background-color: #f7f7f7;
}

.pushy ul.dropdown-menu li > a {
    color: #ed1c24;
}


/* Index */

.main-slider {
    margin-bottom: 40px;
}

.main-slider {
    box-shadow: 0 5px 9px #989898;
}

.slider-banner .slide {
    height: 566px;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.slider-banner__title {
    font-family: 'Montserrat', sans-serif;
    ;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    max-width: 700px;
    line-height: 60px;
    text-transform: uppercase;
    margin-top: 145px;
}

a.slider-banner__btn {
    border: 3px solid #ed1c24;
    height: 60px;
    width: 295px;
    display: block;
    line-height: 54px;
    text-transform: uppercase;
    color: #ed1c24;
    padding: 0;
    font-weight: bold;
    padding-left: 30px;
    text-decoration: none;
    transition: all .3s;
    background-image: url(../img/icons/arrow_btn.png);
    background-repeat: no-repeat;
    background-position: 240px center;
    -webkit-background-size: 31px 21px;
    background-size: 31px 21px;
    margin-top: 75px;
}

a.slider-banner__btn:hover {
    background-color: #ed1c24;
    color: #fff;
    transition: all .3s;
    opacity: .8;
    background-image: url(../img/icons/arrow_btn-white.png);
}

.slider-banner .owl-nav {
    position: absolute;
    top: 43%;
    right: 10%;
}

.main-slider .slider-banner .owl-nav .owl-prev,
.main-slider .slider-banner .owl-nav .owl-next {
    width: 65px;
    height: 65px;
    background-color: #ed1c24;
    border-radius: 0;
    background-image: url(../img/icons/arrow_btn-white.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
}

.main-slider .slider-banner .owl-nav .owl-prev:hover,
.main-slider .slider-banner .owl-nav .owl-next:hover {
    background-color: #fff;
    background-image: url(../img/icons/arrow_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
}

.main-slider .slider-banner .owl-nav .owl-prev {
    transform: rotate(180deg);
}

.main-about-us__wrap-aboutus {
    height: 635px;
    max-width: 570px;
    background-color: #fff;
    position: relative;
    box-shadow: 4px 5px 9px rgba(208, 208, 208, 0.8);
    margin-bottom: 40px;
}

.wrap-aboutus__title {
    background-color: #ed1c24;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.main-about-us__wrap-aboutus p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
    padding: 0 30px;
    line-height: 24px;
}

.wrap-aboutus__btn {
    position: absolute;
    bottom: 45px;
    color: #ed1c24;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    left: 35px;
}

.wrap-aboutus__btn:hover {
    text-decoration: none;
    color: #ed1c24;
    opacity: .9;
}

.wrap-video__block {
    height: 355px;
}

.video-aboutas {
    height: 355px;
}

.main-news__item a {
    color: #000;
}

.main-news__item {
    margin: 35px 0 0 0;
}

.wrap-main-news {
    height: 675px;
    max-width: 368px;
    width: 100%;
    background-color: #fff;
    box-shadow: 4px 5px 9px rgba(208, 208, 208, 0.8);
    margin-bottom: 40px;
}

.wrap-main-news__title {
    margin: 40px 0 10px;
    font-weight: bold;
    font-size: 24px;
    padding: 0 30px;
    line-height: 28px;
}

.wrap-main-news__publication {
    color: #adadad;
    font-size: 14px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 18px;
    margin-bottom: 20px;
}

.wrap-main-news p {
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 24px;
    margin-bottom: 20px;
}

.wrap-main-news__btn {
    color: #ed1c24;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 0 30px;
}

.wrap-main-news__btn:hover {
    text-decoration: none;
    color: #ed1c24;
    opacity: .9;
}

.wrap-main-news__title-block {
    background-color: #ed1c24;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px;
    margin-bottom: 50px;
}

.wrap-main-all-news__title {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 30px;
    line-height: 18px;
}

.all-btn {
    margin-top: 50px;
    display: block;
}

.partners .wrap-aboutus__title {
    margin-bottom: 0;
}

.carousel-partners {
    background-color: #fff;
    height: 200px;
    padding: 0 100px;
}

.carousel-partners p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    max-width: 200px;
    margin: 0 auto;
}

.slide-img-wrap {
    height: 120px;
    position: relative;
    margin-top: 15px;
}

.owl-carousel .owl-item .slide-img-wrap img {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*Aboutus*/

.banner-page {
    width: 100%;
    height: 284px;
    box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
    background-image: url(../img/aboutas_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner-page img {
    width: 100%;
    height: 284px;
}

.bread-crumbs a {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-right: 15px;
}

.bread-crumbs a:last-child {
    color: #ed1c24;
}

.bread-crumbs a:hover {
    text-decoration: none;
    color: #ed1c24;
}

.bread-crumbs a:after {
    content: ">";
    position: absolute;
    top: 1px;
    right: -15px;
    color: #000;
}

.bread-crumbs a:last-child:after {
    content: "";
    position: absolute;
}

.aboutas-page .container {
    background-color: #fff;
    margin-top: 40px;
    box-shadow: 3px 4px 9px #989898;
}

.aboutas {
    padding: 70px 0 55px;
}

.aboutas-title {
    width: 420px;
    height: 330px;
    align-items: center;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
}

.aboutus__wrap {
    max-width: 670px;
    margin-bottom: 60px;
}

.aboutus__wrap p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.evidence__item {
    width: 100%;
    max-width: 370px;
    height: 460px;
    background-color: #f1f5f8;
}

.evidence__item {
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 45px;
}

.evidence__item p {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
}

.aboutus-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    padding-right: 25px;
}

.aboutus-text img {
    width: 100%;
    max-width: 585px;
}

.video-block {
    padding-right: 25px;
}

/*Advanced-search*/

.advanced-search-page .container {
    background-color: #fff;
    margin-top: 40px;
    box-shadow: 3px 4px 9px #989898;
    padding-top: 50px;
    padding-bottom: 145px;
}

.advanced-search-input {
    width: 100%;
    max-width: 570px;
    height: 48px;
    margin-bottom: 12px;
    border: 2px solid #d9d9d9;
    padding: 0 18px;
}

.radio-wrap {
    width: 260px;
    height: 105px;
    background-color: #ed1c24;
}

.form-group {
    width: 100%;
    max-width: 570px;
}

.radio-wrap {
    padding: 17px 17px;
}

.radio-wrap input[type="radio"] {
    display: none;
}

.radio-wrap label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

.radio__item {
    position: relative;
    margin-bottom: 3px;
}

.radio-wrap label:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 25px;
    border: 4px solid #fff;
    top: 3px;
}

.radio-wrap span {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.check:checked + label.radio-label:before {
    background-color: #000;
}

select.select {
    width: 280px;
    height: 46px;
    border: 2px solid #d9d9d9;
    margin-bottom: 6px;
    padding: 0 18px;
    color: #d9d9d9;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/icons/appearance.png);
    background-position: 255px center;
    -webkit-background-size: 9px 8px;
    background-size: 9px 8px;
    background-repeat: no-repeat;
}

.btn-submit {
    height: 50px;
    width: 170px;
    background-color: #ed1c24;
    border: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 600;
    margin-top: 55px;
}

.banner-page-advanced-search {
    width: 100%;
    height: 284px;
    box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
    background-image: url(../img/search_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

/*Workers*/

.workers-page .container {
    background-color: #fff;
    box-shadow: 3px 4px 9px #989898;
    padding-top: 38px;
}

.workers-bread.bread-crumbs {
    margin-bottom: 40px;
}

.banner-page-workers-bread {
    width: 100%;
    height: 284px;
    box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
    background-image: url(../img/workers_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.worker-wrap img {
    width: 270px;
    height: 270px;
}

.worker-wrap__fio {
    color: #ed1c24;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 15px;
}

.worker-wrap__position {
    font-size: 16px;
    font-weight: bold;
    color: #a7a7a7;
}

.worker-wrap__biography {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

.worker-wrap p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-info {
    width: 270px;
    background-color: #ed1c24;
    padding: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-info > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.contact-info > ul > li {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.contact-info p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.slider-worker-preview {
    margin-bottom: 150px;
}

.worker-wrap-preview {
    cursor: pointer
}

.worker-wrap-preview img {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    display: block;
}

.worker-wrap-preview__fio {
    color: #ed1c24;
    font-weight: bold;
    font-size: 18px;
    /*margin-top: 20px;*/
    line-height: 22px;
    margin: 20px auto 0;
    display: block;
    width: 270px
}

.worker-wrap-preview p {
    font-size: 16px;
    font-weight: bold;
    color: #a7a7a7;
    margin: 0 auto;
    display: block;
    width: 270px
}

.slider-worker-preview .slick-prev,
.slider-worker-preview .slick-next {
    top: auto;
    margin: auto;
    bottom: -100px;
    width: 42px;
    height: 42px;
    background-color: #dadada;
    transition: all .3s;
}

.slider-worker-preview .slick-prev {
    background-image: url(../img/icons/arrow_worker.png);
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.slider-worker-preview .slick-prev:hover,
.slider-worker-preview .slick-prev:focus {
    background-image: url(../img/icons/arrow_worker_hover.png);
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.slider-worker-preview .slick-next {
    background-image: url(../img/icons/arrow_worker-next.png);
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.slider-worker-preview .slick-next:hover,
.slider-worker-preview .slick-next:focus {
    background-image: url(../img/icons/arrow_worker-next_hover.png);
    -webkit-background-size: 16px 15px;
    background-size: 16px 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.slider-worker-preview .slick-prev:hover,
.slider-worker-preview .slick-next:hover,
.slider-worker-preview .slick-prev:focus,
.slider-worker-preview .slick-next:focus {
    background-color: #ed1c24;
    transition: all .3s;
}

.slider-worker-preview .slick-prev:before,
.slider-worker-preview .slick-next:before {
    content: '';
}

.slider-worker-preview .slick-prev {
    right: 45px;
    z-index: 1;
}

.slider-worker-preview .slick-next {
    left: 0px;
}

/*founds*/

.banner-page-founds {
    width: 100%;
    height: 284px;
    box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
    background-image: url(../img/founds.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.founds-page .container {
    background-color: #fff;
    box-shadow: 3px 4px 9px #989898;
    padding-top: 38px;
    padding-bottom: 38px;
}

.founds-found {
    margin-bottom: 11px;
}

.founds-found-image {
    text-align: left;
}

.founds-found-description strong {
    font-size: 18px;
}

.founds-found-description p {
    font-size: 14px;
    margin-top: 18px;
}

.founds-found-numbers {
    font-size: 16px;
    font-weight: bold;
    padding-top: 38px;
    padding-left: 66px;
}

.founds-alphabet {
    margin-top: 34px;
    margin-bottom: 28px;
}

.founds-alphabet .page-nav {
    margin-bottom: 4px;
}

.founds-search {
    position: relative;
    margin-top: 12px;
}

.founds-search__input {
    width: 100%;
    border: 1px solid #ed1c24;
    height: 38px;
    padding: 0 10px;
}

.founds-clear-filter {
    padding-left: 30px;
    padding-top: 8px;
    margin-top: 12px;

}

.founds-clear-filter a {
    font-size: 14px;
    color: rgb(237, 28, 36);
    font-weight: bold;
    text-decoration: underline;
}

.founds-in-description p {
    margin-bottom: 21px;
}

p.founds-in-description-sourse {
    margin-bottom: 8px;
}

.founds-in.category-choice {
    padding: 8px;
    font-weight: bold;
    border: 3px solid #ed1c24;
    background: url('../img/icons/1484193666_ChevronRight.png') no-repeat right 12px top 12px;
    margin-bottom: 53px;
}

.founds-table td,
.founds-table th {
    vertical-align: middle;
    text-align: center;
}

.founds-table th {
    height: 72px;
}

.founds-table tr td {
    padding-top: 13px;
    padding-bottom: 13px;
}

td.founds-in-td-left {
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

.founds-in-description p {
    font-size: 16px;
}


@media screen and (max-width: 992px) {
    .founds-found-numbers {
        padding-top: 0px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    .founds-found-numbers {
        font-weight: lighter;
    }
}

@media screen and (max-width: 1181px) and (min-width: 992px) {
    .founds-found-description {
        padding-left: 30px;
    }
}

@media screen and (max-width: 790px) and (min-width: 768px) {
    .founds-found-description {
        padding-left: 20px;
    }
}



.founds-search__submit {
    position: absolute;
    background-image: url(../img/icons/search.png);
    width: 47px;
    height: 38px;
    -webkit-background-size: 17px 17px;
    background-size: 17px 17px;
    top: 0;
    right: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.founds-page.founds-in {
    margin-top: 33px;
}

.founds-table {
    width: 100%;
}



.founds-table .head {
    background-color: #df2a28;
    color: beige;
}

.founds-table .nums {
    background-color: #e6e6e6;
}

.founds-in-scrolling {
    margin-bottom: 67px;
}

@media screen and (max-width: 982px) {
    .founds-table {
        width: 1170px;

    }
    .founds-in-scrolling {
        overflow-x: scroll;
    }
}

/*news*/

.new-picture .container {
    box-shadow: 3px 4px 9px #d7dadd;
}

.new-page .container {
    background-color: #fff;
    box-shadow: 3px 4px 9px #d7dadd;

    padding-top: 38px;
    padding-bottom: 38px;
}


.new-page-container p {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.new-page-container h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 1.2;
}

.new-date {
    font-size: 14px;
    color: rgb(173, 173, 173);
    line-height: 1.2;

}

.new-continue,
.new-all {

    margin-top: 45px;
}

.new-number-page {
    margin-top: 30px;
    margin-bottom: 30px;
}

.new-continue a,
.new-all a {
    font-size: 14px;
    color: rgb(237, 28, 36);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;

}

.new-picture {
    margin-top: 30px;
}

.new-picture .container {
    padding-left: 0;
    padding-right: 0;
}

.new-picture .container img {
    width: 100%;
}

.container.new-early-head {
    background-color: #ed1c24;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

.new-early {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 852px) and (min-width:768px) {
    .new-early {
        height: 370px;
    }
}

.new-early a {

    text-decoration: none;
}

.new-early img {
    width: 100%;
}

.new-early h4 {
    font-size: 18px;
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 1.2;
}

.new-early-date {
    font-size: 14px;
    color: rgb(173, 173, 173);
    line-height: 1.2;
}

.banner-page-news {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    /*box-shadow: 0 5px 9px #989898;*/
    margin-bottom: 15px;
    background-image: url(../img/8951.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.new-in-early-head.new-early-head {
    margin-top: 30px;
}

.new-page .container.new-in {
    padding-bottom: 189px;
}

.contacts-page {
    margin-top: 40px;
}

.contacts-page .container {
    background-color: #fff;
    box-shadow: 3px 4px 9px #d7dadd;

    padding-top: 38px;
    padding-bottom: 38px;
}

.phone-email {
    background-color: #ed1c24;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;

}

.contacts-page h2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
}

.contacts-contacts span {
    display: block;
    padding-left: 50px;
}

.contacts-contacts span.location {
    background-image: url("../img/icons/1496359752_location.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 15px 50px;
}

.contacts-contacts span.email {
    background-image: url("../img/icons/1496359878_letter.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 15px 50px;
}

.contacts-contacts span.phone {
    background-image: url("../img/icons/1496359817_thefreeforty_phone.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 15px 50px;
}

.contacts-question h2 {
    padding-left: 30px;

}

.contacts-question form {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.contacts-question input[type=text] {

    width: 100%;
    height: 48px;
    border: 2px solid #d9d9d9;
    padding: 14px;
    margin-bottom: 11px;
}

.contacts-question textarea {
    padding: 14px;
    width: 100%;
    height: 114px;
    border: 2px solid #d9d9d9;
    resize: none;
    margin-bottom: 20px;
}

.contacts-question input[type=submit] {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 170px;
    border: none;
    background-color: #ed1c24;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-transform: uppercase;
}

.contacts-banner-page {
    width: 100%;
    height: 284px;
    box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
    background-image: url(../img/search_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

#map {
    width: 100%;
    height: 284px;
box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
}

/*Documents*/

.banner-page-documents {
    width: 100%;
    height: 284px;
    box-shadow: 0 5px 9px #989898;
    margin-bottom: 15px;
    background-image: url(../img/workers_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.documents-page .container {
    background-color: #fff;
    box-shadow: 3px 4px 9px #989898;
    padding-top: 65px;
    margin-top: 40px;
    padding-bottom: 70px;
}

.documents-page p {
    font-weight: 400;
    font-size: 16px;
    padding-right: 30px;
    line-height: 24px;
}

a.btn-documents {
    color: #ed1c24;
    border: 3px solid #ed1c24;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0 20px 38px;
    width: 365px;
    display: block;
    background-image: url(../img/icons/download.png);
    -webkit-background-size: 21px 21px;
    background-size: 21px 21px;
    background-position: 300px center;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.document-search {
    position: relative;
    margin: 40px 0 35px;
}

.document-search__input {
    width: 100%;
    border: 1px solid #ed1c24;
    height: 38px;
    padding: 0 10px;
}

.document-search__submit {
    position: absolute;
    background-image: url(../img/icons/search.png);
    width: 47px;
    height: 38px;
    -webkit-background-size: 17px 17px;
    background-size: 17px 17px;
    top: 0;
    right: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.document-item {
    margin-bottom: 25px;
    display: block;
}

.document-item__img {
    width: 170px;
    height: 122px;
    position: relative;
}

.document-item__img img {
    width: 170px;
    height: 122px;
}

.data-publication__img {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 122px;
    top: 0;
    left: 0;
    right: 0;

}

.document-item__title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.document-item__data-publication {
    font-size: 16px;
    font-weight: 400;
    color: #bcbcbc;
    margin-bottom: 10px;
}

a.page-nav {
    width: 36px;
    height: 36px;
    border: 3px solid #ed1c24;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #ed1c24;
    font-weight: bold;
    padding: 0;
    margin-right: 4px;
}

span.page-nav {
    color: #ed1c24;
    font-weight: bold;
    line-height: 20px;
    width: 36px;
    height: 36px;
    position: relative;
    top: -3px;
    transition: all .3s;
    margin: 0 10px;
}

a.page-nav:hover {
    background-color: #ed1c24;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

a.page-nav.active {
    background-color: #ed1c24;
    color: #fff;
    text-decoration: none;
}

a.last-page {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #dadada;
    border: 3px solid #dadada;
    background-image: url(../img/icons/arrow_worker-next.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 13px;
    transition: all .3s;
    margin-left: 4px;
}

a.last-page:hover {
    background-color: #ed1c24;
    background-image: url(../img/icons/arrow_worker-next_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #ed1c24;
    color: #ed1c24;
    transition: all .3s;
}

a.first-page {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #dadada;
    border: 3px solid #dadada;
    background-image: url(../img/icons/arrow_worker.png);
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 13px;
    transition: all .3s;
}

a.first-page:hover {
    background-color: #ed1c24;
    background-image: url(../img/icons/arrow_worker_hover.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #ed1c24;
    color: #ed1c24;
    transition: all .3s;
}

.documents-page__page-nav {
    margin-top: 10px;
}

/*Footer*/

.footer {
    height: 200px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.footer-logo-wrap {
    line-height: 200px;
    float: left;
    margin-right: 40px;
}

.footer__title {
    font-weight: bold;
    font-size: 14.5px;
    max-width: 170px;
    line-height: 18px;
    display: inline-block;
    margin-top: 70px;
    text-transform: uppercase;
}

.footer__title-block {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer__wrap p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.footer__wrap p > a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.phone-footer {
    margin-bottom: 10px;
}

.footer__info {
    margin-top: 30px;
    padding-left: 40px;
}

.footer-contact {
    padding-left: 45px;
}

.footer-contact ul {
    list-style: none;
    padding-left: 0;
    margin: 30px 0;
}

.footer-contact ul li {
    margin-right: 8px;
}

.footer-contact ul li a:hover {
    opacity: .7;
}

.social__item img {
    width: 41px;
    height: 41px;
}

@media only screen and (max-width: 1240px) {

    .container {
        width: 100%;
    }

    .header-menu ul > li > a {
        padding: 0 58px;
    }

    .main-about-us__wrap-aboutus {
        margin: 0 5px 40px 5px;
    }

    a.btn-documents {
        width: 340px;
        background-position: 280px center;
    }

}

@media only screen and (min-width: 1170px) and (max-width: 1240px) {

    .advanced-search-input {
        max-width: 530px;
    }

    .form-group {
        padding-left: 18px;
    }

    .select.select {
        width: 257px;
        background-position: 235px center;
    }

}

@media only screen and (max-width: 1170px) {

    .header-top__title {
        max-width: 450px;
        margin-top: 60px;
    }

    .header-menu ul > li > a {
        padding: 0 43px;
    }

    .header-menu ul > li > a.first {
        padding: 0 40px;
    }

    .main-about-us__wrap-aboutus p {
        margin-bottom: 15px;
        line-height: 22px;
    }

    .flex-wrap {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .evidence__item {
        margin-right: 20px;
        height: 480px;
    }

    .evidence__item:last-child {
        margin-right: 0;
    }

    .aboutus__wrap {
        padding-left: 40px;
    }

    a.btn-documents {
        width: 320px;
        background-position: 260px center;
        padding: 20px 0 20px 20px;
    }

    .footer-logo-wrap {
        margin: 0 10px 0 0;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1170px) {

    .advanced-search-input {
        max-width: 450px;
    }

    .radio-wrap {
        width: 220px;
        padding: 17px 7px;
    }

    .advanced-search .form-group {
        width: 100%;
        max-width: 450px;
    }

    .worker-wrap__fio {
        padding-left: 50px;
    }

    .worker-wrap__position {
        padding-left: 50px;
    }

    .worker-wrap__biography {
        padding-left: 50px;
    }

    .worker-wrap p {
        padding-left: 50px;
    }

    .worker-wrap .contact-info p {
        padding-left: 0;
    }

    .document-item__title {
        padding-left: 40px;
    }

    .document-item__data-publication {
        padding-left: 40px;
    }

    .document-item p {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 992px) {

    .flex {
        flex-wrap: wrap;
    }

    .header-top__title {
        position: absolute;
        margin-top: 80px;
        margin-left: 150px;
    }

    .search {
        display: block;
    }

    .form-search {
        margin-top: 10px;
    }

    .lang {
        margin-top: 10px;
        justify-content: flex-end;
    }

    .header-menu ul > li > a {
        padding: 0 23px;

    }

    .header-menu ul > li > a.first {
        padding: 0 20px;
    }

    .slider-banner__title {
        margin-top: 108px;
    }

    .main-about-us__wrap-aboutus {
        margin: 0 auto 40px;
        height: auto;
        padding-bottom: 30px;
    }
    .wrap-aboutus__btn {
        position: initial;
        padding: 30px;
    }

    .wrap-main-news {
        margin: 0 auto 40px;
        height: auto;
        padding-bottom: 25px;
    }

    .wrap-main-news__img img {
        width: 100%;
    }

    .aboutas-title {
        width: auto;
        height: auto;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .carousel-partners {
        padding: 0 20px;
    }

    a.btn-documents {
        width: 360px;
        background-position: 300px center;
        padding: 20px 0 20px 38px;
    }

    .footer__title {
        margin: 0;
        text-align: center;
    }

    .footer__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__info {
        margin-top: 0;
    }

    .aboutus__wrap {
        padding-left: 0;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .aboutus-text img {
        margin: 0 auto 30px;
        display: block;
    }

    .evidence {
        justify-content: space-around;
    }

    .video-block {
        padding-right: 0;
    }

    .advanced-search {
        justify-content: flex-start;
        ;
        display: flex;
        flex-wrap: wrap;
    }

    .advanced-search .flex-end {
        justify-content: flex-start;
    }

    .select-wrap {
        margin-top: 10px;
    }

    .btn-submit {
        margin-top: 0;
    }

    select.select {
        width: 283px;
    }

    .radio-wrap {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .header-top__title {
        max-width: 330px;
        font-size: 14px;
        line-height: 18px;
        margin-top: 85px;
    }

    .pushy a.lang__item {
        padding: 0;
    }

    .form-search {
        text-align: center;
        width: 210px;
        margin: 10px auto 0;
        position: relative;
    }

    .input-search {
        width: 210px;
    }

    .btn-search {
        position: absolute;
        top: 4px;
        right: 0;
    }

    .lang {
        justify-content: center;
    }

    .slider-banner .owl-nav {
        position: absolute;
        top: auto;
        right: 20px;
        bottom: 20px;
    }

    .slider-banner__title {
        margin-top: 80px;
        font-size: 40px;
        line-height: 50px;
    }

    .wrap-main-news {
        max-width: 100%;
    }

    .footer__info {
        padding: 0;
    }

    .footer-contact {
        padding: 0;
    }

    .footer__title {
        margin: 70px 0 0 0;
        text-align: left;
    }

    .footer__wrap {
        display: block;
    }

    .evidence__item {
        margin-right: 0;
        min-height: 460px;
        height: auto;
    }

    .advanced-search .form-group {
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    .advanced-search-input {
        width: 280px;
    }

    .radio-wrap {
        width: 280px;
    }

    select.select {
        width: 280px;
    }
}

@media only screen and (max-width: 480px) {
    .header-top__title {
        margin-top: 70px;
    }

    .slider-banner__title {
        margin-top: 120px;
        font-size: 30px;
        line-height: 40px;
    }

    .main-about-us__wrap-aboutus p {
        padding: 0 15px;
    }

    .wrap-aboutus__title {
        padding-left: 15px;
    }

    .wrap-main-news__title {
        margin: 20px 0 10px;
        font-weight: bold;
        font-size: 22px;
        padding: 0 15px;
        line-height: 24px;
    }

    .wrap-main-news__publication {
        padding-left: 15px;
    }

    .wrap-main-news p {
        padding: 0 15px;
    }

    .wrap-main-news__btn {
        padding-left: 15px;
    }

    .wrap-main-all-news__title {
        padding: 0 15px;
    }

    .main-news__item {
        margin-top: 15px;
    }

    .wrap-main-news__title-block {
        margin-bottom: 25px;
    }

    .wrap-main-news__btn {
        margin-top: 20px;
    }

    .wrap-video__block {
        height: auto;
        margin-bottom: -5px;
    }

    .video-aboutas {
        height: auto;
    }

    a.btn-documents {
        width: 300px;
        background-position: 260px center;
        padding: 20px 0 20px 20px;
    }

}


@media only screen and (max-width: 370px) {

    .footer__title {
        margin: 0;
    }

    input.input-search {
        margin-bottom: 5px;
    }

    a.btn-documents {
        width: 260px;
        background-position: 225px center;
        padding: 20px 0 20px 15px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 350px) {
    .header-top__title {
        margin-top: 70px;
        font-size: 10px;
        line-height: 14px;
        margin-left: 140px;
    }

    .slider-banner__title {
        margin-top: 120px;
        font-size: 22px;
        line-height: 32px;
    }

    a.slider-banner__btn {
        width: 210px;
        background-position: 150px center;
    }

    .lang {
        margin-top: 50px;
    }

    .advanced-search-input {
        width: 240px;
    }

    .radio-wrap {
        width: 240px;
    }

    select.select {
        width: 240px;
    }

    .contact-info {
        width: 240px;
        padding: 15px 10px;
    }

    .contact-info p {
        margin-bottom: 15px;
    }

    .worker-wrap__fio {
        margin-bottom: 5px;
    }

    .worker-wrap img {
        width: 240px;
        height: 240px;
    }

    .slick-slide img {
        width: 240px;
        height: 240px;
    }

    a.btn-documents {
        width: 220px;
        background-position: 170px center;
        padding: 20px 60px 20px 0;
        text-align: center;
        font-size: 16px;
    }
}
