@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
@font-face {
    font-family: MyriadProRegular;
    src: url('/fonts/MyriadProRegular/MyriadProRegular.woff');
}

@font-face {
    font-family: ArialRegular;
    src: url('/fonts/ArialRegular/ArialRegular.woff');
}

*:focus {
    outline: none;
}

body {
    font-family: Open Sans;
    color: #afb4b5;
}

.container {
    padding: 0;
}

button {
    border: none!important;
    text-transform: uppercase;
    font-size: 16px;
}

header {
    background-color: #58a3ba;
}

.navbar {
    letter-spacing: 1px;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
}

.main-menu {
    width: 100%;
    background-image: url(../img/menu-back.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 117px;
}

header nav button.index-enter,
header nav button.about-enter {
    background-image: url(../img/icons/user.svg);
    background-repeat: no-repeat;
    background-position: 9px center;
    text-transform: none;
    height: 44px;
    width: 98px;
}

nav button span {
    padding-left: 30px;
}

.nav-phone>span {
    padding-right: 30px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.05;
    text-align: left;
}

.nav-link {
    color: white!important;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 18.9px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    padding-right: 0.7rem!important;
    padding-left: 0.7rem!important;
}

.nav-item.active a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.181;
}

.navbar-brand {
    padding-right: 27px;
}

.btn-primary {
    background-color: #03b6e7;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#carousel-example-generic .carousel-indicators {
    bottom: 50px;
}

#carousel-example-generic .carousel-indicators li {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../img/icons/carousel.svg);
}

#carousel-example-generic .carousel-indicators li.active {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../img/icons/carousel_active.svg);
}

#carousel-example-generic .carousel-inner {
    height: 840px;
}

#carousel-example-generic .carousel-item {
    height: 100%;
}

#carousel-example-generic .carousel-item>div {
    padding-top: 245px;
}

#index-carousel-back-1 {
    background-image: url(../img/slide-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#index-carousel-back-2 {
    background-image: url(../img/slide-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#index-carousel-back-3 {
    background-image: url(../img/slide-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.index-caption {
    font-size: 60px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.00055834729202, 0, 0, 1.00145866664913, 0, 0);
    -webkit-transform: matrix( 1.00055834729202, 0, 0, 1.00145866664913, 0, 0);
    -ms-transform: matrix( 1.00055834729202, 0, 0, 1.00145866664913, 0, 0);
}

@media screen and (max-width: 470px) {
    .index-caption {
        font-size: 30px;
    }
}

@media screen and (max-width: 598px) {
    .index-caption {
        font-size: 40px;
    }
}

.index-caption-small {
    font-size: 30.02px;
    text-align: center;
    transform: scaleY(1.0009);
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 15px;
}

.index-caption-medium {
    padding-top: 0;
    font-size: 48px;
    line-height: 50px;
    font-weight: 100;
    text-align: center;
    transform: scaleY(1.0009);
    text-transform: uppercase;
    color: #ffffff;
}

.index-register {
    margin-top: 60px;
}

.index-register button span {
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 3px;
}

.index-register button {
    width: 221px;
    height: 44px;
}

.container.basic {
    padding: 34px;
    padding-top: 26px;
    padding-bottom: 27px;
    border-radius: 26px;
}

.container.basic h2 {
    font-size: 30px;
    /*    color: rgb(255, 255, 255);*/
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    padding-bottom: 30px;
}

.circle-btn {
    padding: 27px;
    border-radius: 50%;
    background-color: #a7dceb;
    border: none;
}

.circle-btn-active {
    background-color: #ffffff;
}

.circle-btn.location {
    background-image: url(../img/icons/current_location.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-btn.train {
    background-image: url(../img/icons/train.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-btn.bus {
    background-image: url(../img/reservation-icons/bus_front_view.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

input.from-to {
    border: none;
    height: 54px;
    width: 266px;
}

input.date {
    border: none;
    height: 54px;
    width: 176px;
    background-image: url(../img/icons/date.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

input.adr {
    border: none;
    height: 54px;
    width: 319px;
}

.index-active-container {
    background-color: #03b6e7;
    color: white;
    margin-bottom: 10px;
}

.index-container {
    background-color: #f5f5f5;
    color: #797878;
    margin-bottom: 10px;
}

.container.basic.index-container h2 {
    font-size: 24px;
    color: rgb(184, 184, 184);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.index-lettering {
    padding-bottom: 7px;
}

.index-active-container form .col-lg-auto,
.index-container form .col-lg-auto {
    margin: auto;
    padding: 0;
}

.index-container input,
.index-container select,
.index-register-bottom input {
    background-color: #ececec;
}

.guests {
    border: none;
    width: 176px;
    height: 54px!important;
}

.index-head {
    text-align: center;
    font-size: 36px;
    color: rgb(5, 67, 95);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.528;
}

.index-head h1 {
    text-align: center;
    font-size: 36px;
    color: rgb(5, 67, 95);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.528;
    margin-top: 65px;
    margin-bottom: 35px;
}

.index-find {
    letter-spacing: 1px;
    background-color: #03b6e7;
    width: 221px;
    height: 44px;
    background-image: url(../img/icons//arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    margin-right: 18px;
}

.index-try {
    background-color: #03b6e7;
    letter-spacing: 1px;
    width: 221px;
    height: 44px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.index-add {
    letter-spacing: 1px;
    background-color: #adadad;
    width: 263px;
    height: 44px;
    background-image: url(../img/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.index-result {
    margin-top: 36px;
    margin-bottom: 69px;
}

.index-bg-gray {
    background: #f2f2f2;
}

.index-how-it-works {
    padding-top: 50px;
    min-height: 538px;
    text-align: center;
    color: #afb4b5;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
}

.index-how-it-works h2 {
    margin-bottom: 35px;
}

.index-how-it-works h3 {
    font-size: 24px;
    color: rgb(5, 67, 95);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 47px;
}

.index-keep {
    min-height: 585px;
    background-image: url("../img/laptop.png");
    background-repeat: no-repeat;
    background-position: left top 78px;
    padding-top: 65px;
}

.index-keep .text h2,
.index-keep .text p {
    padding-left: 57px;
    padding-right: 57px;
    text-align: center;
}

.index-keep .text p {
    text-align: left;
}

.index-keep .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    color: #afb4b5;
}

.index-keep .text span {
    font-weight: lighter;
    font-size: 30px;
}

.index-keep h2 {
    text-align: left;
}

h2.index-head.news {
    margin-top: 0;
    padding-top: 60px;
}

.index-news .date {
    color: #03b6e7;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 18px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-bottom: 7px;
}

.index-news .month {
    color: #03b6e7;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 18px;
    /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    padding-right: 2px;
}

.index-news .blog-head {
    color: #1c1c1c;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.index-news .blog,
.index-rewiews .blog {
    color: #585858;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 36px;
}

.index-rewiews .blog {
    background-image: url('../img/icons/quote_icon.svg');
    background-repeat: no-repeat;
    padding-top: 30px;
}

.index-news a {
    color: #03b6e7;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 18px;
    /* Приближение из-за подстановки шрифтов */
    text-decoration: underline;
    text-align: left;
}

.index-head.news {
    margin-top: 60px;
    margin-bottom: 100px;
}

.index-head.rewiews {
    margin-top: 50px;
    margin-bottom: 50px;
}

.index-rewiews .name {
    color: #1c1c1c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.index-rewiews .level {
    color: #585858;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.index-register-bottom {
    min-height: 420px;
}

.index-register-bottom input {
    border: none;
    height: 54px;
    width: 100%;
}

.index-register-bottom>div>div {
    justify-content: space-around;
}

.index-register-bottom {
    background-image: url(../img/reg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.index-register-bottom .index-head {
    color: #ffffff;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 55px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.index-register-bottom .container {
    max-width: 520px;
}

.index-register-bottom .description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.444;
    text-align: center;
    margin-bottom: 50px;
}

.index-register-bottom .email-enter {}

.index-register-bottom .enter-email-button {
    border: none;
    height: 54px;
    width: 162px;
    position: relative;
    right: 20px;
}

@media screen and (max-width: 992px) {
    .basic input,
    .basic select {
        width: 100%;
    }
    .index-head h1 {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 489px) {
    .index-result button {
        width: 100%;
    }
}

.index-news-open {
    padding-bottom: 60px;
}

.index-rewiew-block {
    padding-bottom: 60px;
}

@media screen and (max-width: 489px) {
    .index-register-bottom .email-enter .input-group {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .container.basic {
        border-radius: 0;
    }
    .index-keep .text h2,
    .index-keep .text p {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.carousel-item img {
    background-size: cover;
}

.carousel-item {
    text-align: center;
    background-size: cover;
}

#carouselHowItWorks .carousel-control-prev-icon {
    background-image: url("../img/icons/arrow-left.svg");
}

#carouselHowItWorks .carousel-control-next-icon {
    background-image: url("../img/icons/arrow-right.svg");
}

#carouselHowItWorks .carousel-control-next {
    justify-content: flex-end!important;
}

#carouselHowItWorks .carousel-control-prev {
    justify-content: flex-start!important;
}

#carouselKeepData .carousel-control-prev-icon {
    background-image: url("../img/icons/arrow-left.svg");
}

#carouselKeepData .carousel-control-next-icon {
    background-image: url("../img/icons/arrow-right.svg");
}

#carouselKeepData .carousel-control-next {
    justify-content: flex-end!important;
}

#carouselKeepData .carousel-control-prev {
    justify-content: flex-start!important;
}

.index-rewiew-image {
    width: 67px;
    height: 67px;
    background-image: url(../img/gJJTrTlt5d0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.index-rewiew-image-1 {
    background-image: url(../img/gJJTrTlt5d0.jpg);
}

.index-rewiew-image-2 {
    background-image: url(../img/mary.png);
}

.index-rewiew-image-3 {
    background-image: url(../img/akh.png);
}

.index-blue-icon {
    padding-right: 10px;
    font-size: 18px;
    color: #05adda;
}

.index-keep-image img {
    width: 70%;
}

.index-keep-image {
    display: none;
}

@media screen and (max-width: 1200px) {
    .index-keep {
        background-image: url();
        height: auto;
        min-height: 300px;
    }
    .index-keep-image {
        display: block;
    }
}

@media screen and (max-width: 567px) {
    .index-find,
    .index-add {
        width: 100%;
    }
    .index-find {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}

header .navbar {
    padding-top: 13px;
    padding-left: 5px;
    padding-bottom: 0px;
}

@media screen and (min-width: 1173px) {
    header .nav-phone,
    header nav button.index-enter {
        position: relative;
        left: 40px;
    }
}

@media screen and (max-width:577px) {
    #carouselKeepData .carousel-control-next,
    #carouselKeepData .carousel-control-prev,
    #carouselHowItWorks .carousel-control-next,
    #carouselHowItWorks .carousel-control-prev {
        justify-content: center!important;
    }
}

ol.bread-crumbs {
    list-style: none;
    color: #aeaeae;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
}

.bread-crumbs a {
    color: #aeaeae;
    text-decoration: none;
}

.bread-crumbs li {
    display: inline;
}

.bread-crumbs>li+li:before {
    color: #cccccc;
    content: "/";
    padding-right: 5px;
}

.bread-crumbs:last-child {
    color: #05435f;
}

.bread-crumbs:first-child {
    padding-left: 25px;
    background-image: url(../img/icons/home.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 21px;
}


/*about-company*/

.about-top-image {
    width: 100%;
    height: 117px;
    background-image: url(../img/about-top.png);
    background-position: left -285px center;
}

.bread-crumbs-container {
    padding-top: 29px;
    padding-bottom: 29px;
}

.about-navigation .navbar {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 675px;
}

.about-navigation ul.navbar li {
    height: 60px;
}

.about-navigation ul.navbar li a {
    color: #a6a6a6;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 55px;
    /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    letter-spacing: 0;
    text-decoration: none;
}

.about-navigation ul.navbar li:hover,
.about-navigation ul.navbar li.active {
    border-bottom: 5px solid #03b6e7;
}

.about-navigation ul.navbar li a:hover,
.about-navigation ul.navbar li.active a {
    color: #03b6e7;
}

.about-navigation {
    margin-left: 17px;
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
}

.about-head h2 {
    color: #05435f;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.about-company-content {
    padding-top: 58px;
    padding-bottom: 80px;
    color: #666565;
}

.about-company-content .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.about-lettering {
    height: 52px;
    padding-top: 6px;
}

.about-input {
    padding: 0;
    height: 52px;
    width: 100%;
    background-color: #ececec;
    border: none;
    margin-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
}

textarea.about-input {
    height: 109px;
    border-radius: 26px;
    padding-top: 10px;
}

.about-save button {
    width: 221px;
    height: 44px;
    letter-spacing: 1px;
}

.about-save {
    text-align: right;
    margin-top: 11px;
}

footer {
    min-height: 438px;
    background-color: #262829;
    padding-top: 51px;
}

.footer-navigation li {
    list-style: none;
}

.footer-navigation a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 300;
}

.footer-navigation .navbar {
    padding-top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 13px;
}

.footer-info {
    padding-left: 0;
    padding-top: 74px;
    letter-spacing: 1px;
}

.footer-info .phone {
    color: #cccccc;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 18.9px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-bottom: 22px;
}

.footer-info .email {
    color: #cccccc;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 18.9px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer-list a {
    color: #979797;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer-list {
    padding-top: 12px;
}

.social-networks {
    width: 269px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}

@media screen and (max-width:1050px) {
    .social-networks {
        width: 220px;
    }
}

.social-networks a {
    color: #03b6e7;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.footer-bottom {
    border-top: solid 1px #cccccc;
    color: #838b8c;
    font-size: 15px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.footer-top {
    margin-bottom: 45px;
}

.copyright {
    padding-top: 35px;
}

.fixp-logo {
    text-align: right;
    padding-top: 40px;
}

@media screen and (max-width:992px) {
    .footer-navigation .navbar {
        justify-content: space-around;
        line-height: 2;
    }
}

@media screen and (max-width:768px) {
    .footer-logo {
        text-align: center;
        padding-bottom: 30px;
    }
    .about-navigation ul.navbar li {
        display: block;
        width: 100%;
    }
    .about-navigation ul.navbar {
        width: auto;
    }
}

@media screen and (max-width:576px) {
    .footer-navigation .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .fixp-logo {
        text-align: left;
    }
}

@media screen and (max-width:1200px) {
    #navbarSupportedContent {
        position: relative;
        top: 42px;
        padding: 30px;
        background-image: url(../img/menu-back-2.png)
    }
    #navbarSupportedContent ul {
        padding-bottom: 40px;
    }
    .index-enter {
        border: 1px solid white;
    }
}


/*reservation*/

.reservation-navigation .navbar {
    width: 530px;
}

.reservation-steps {
    padding-top: 58px;
    padding-bottom: 30px;
}

.reservation-steps .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.reservation-head h2 {
    color: #05435f;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.reservation-form {
    background-color: #03b6e7;
    padding: 22px 0;
    margin-bottom: 32px;
}

.reservation-bus {
    background-color: white;
    background-image: url(../img/reservation-icons/bus_front_view.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 54px;
}

.reservation-form-inputs {
    width: 903px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reservation-form-inputs input {
    color: gray;
}

.reservation-form-find .btn {
    background-color: #0a415d;
    height: 54px;
    width: 175px;
    letter-spacing: 2px;
}

.reservation-form .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .reservation-form .container {
        display: flex;
        flex-direction: column;
        min-height: 130px;
    }
    .reservation-form-inputs {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .reservation-form-inputs {
        flex-direction: column;
    }
    .reservation-form-inputs input,
    .reservation-form-inputs select {
        flex-direction: column;
        margin-bottom: 11px;
        width: 100%;
    }
    .reservation-form-inputs button {
        margin-bottom: 11px;
    }
}

.reservation-filter {
    background-color: #064360;
    color: white;
    border-radius: 16px;
    padding: 15px;
    font-weight: bold;
}

.hotel-list-item {
    width: 100%;
    min-height: 232px;
    background-color: #f6f3f4;
    border-radius: 26px;
    padding: 26px;
    margin-bottom: 20px;
    color: #696768;
    font-size: 16px;
    font-weight: 400;
}

.hotel-list-item img {
    border-radius: px;
    width: 183px;
    height: 183px;
}

.hotel-list-item-icon {
    padding-right: 10px;
}

.hotel-list-item-icon-moon {
    padding-right: 25px;
    background-image: url(../img/reservation-icons/moon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


/*
.reservation-route-item.last{
    background-image: url();
}
.reservation-route-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: #afafaf; 
    padding: 0;
    height: 54px;
    min-width: 162px;
    max-width: 187px;
    padding-right: 50px;
    background-image: url(../img/reservation-icons/arrow.png);
    background-repeat: no-repeat;
    background-position: right 18px center;
    margin-bottom: 15px;
}

.reservation-route-item.active {
    color: #28465e;
    background-image: url(../img/reservation-icons/arrow-active.png);
    width: 188px;
    padding-right: 12px;
    border-bottom: 4px solid #28465e;
    font-weight: 700;
}

.resevation-route {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 19px 0;

}

.reservation-step-number {
    background-color: #28465e;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3px;
}
*/

#carouselReservationRoute .carousel-item>div {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
    color: #a4a4a4;
    background-color: #f3f3f3;
    border-radius: 50px;
}

#carouselReservationRoute .carousel-item.active>div {
    color: #28465e;
    font-weight: 700;
}

#carouselReservationRoute .carousel-control-prev-icon {
    background-image: url("../img/icons/ic_arrow_back_black_36px.svg");
}

#carouselReservationRoute .carousel-control-next-icon {
    background-image: url("../img/icons/ic_arrow_forward_black_36px.svg");
}

.reservation-steps-scroll {
    margin-bottom: 30px;
}

.reservation-filter-head {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 8px;
}

.reservation-filter-checkbox {
    display: none;
}

.reservation-filter-checkbox+label::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background-image: url(../img/reservation-icons/carousel.svg);
    background-repeat: no-repeat;
}

.reservation-filter-checkbox:checked+label::before {
    background-image: url(../img/reservation-icons/carousel_active.svg);
}

.reservation-filter-checkbox-block>label {}

.hotel-list-check {
    width: 163px;
    height: 44px;
    background-color: #04b5e7;
    color: white;
    letter-spacing: 2px;
    margin-top: 30px;
}

.hotel-list-page-checker-back {
    width: 121px;
    height: 44px;
    background-image: url(../img/icons/arrow-2.svg);
    background-repeat: no-repeat;
    background-position: left 12px center;
    padding-left: 12px;
    letter-spacing: 2px;
}

.hotel-list-page-checker-next {
    height: 44px;
    width: 236px;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 12px;
    letter-spacing: 2px;
}

.hotel-list-page-checker-number {
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

@media screen and (max-width:767px) {
    .hotel-list-page-checker-back,
    .hotel-list-page-checker-next {
        width: 100%;
        margin: 10px;
    }
    .hotel-list-page-checker-numbers {
        height: 44px;
        text-align: center;
    }
    .hotel-list-page-checker {
        flex-direction: column;
    }
}

.hotel-list-page-checker {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 60px;
}

.hotel-list-page-checker button {
    background-color: #aeaeae;
}

.hotel-list-page-checker button.checked,
.hotel-list-page-checker button:hover {
    background-color: #064360;
}

.dot-3 {
    height: 44px;
    display: inline-block;
}

.dot-3 div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.reservation-filter-button {
    width: 232px;
    height: 44px;
    letter-spacing: 2px;
}

.reservation-steps-item>div {
    font-size: 15px;
    line-height: 1;
    color: #afafaf;
    padding: 0;
    height: 54px;
    min-width: 162px;
    max-width: 187px;
    padding-right: 50px;
    background-image: url(../img/reservation-icons/s1.svg);
    background-repeat: no-repeat;
    background-position: right 18px center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reservation-steps-slider-active>div {
    color: #28465e;
    background-image: url(../img/reservation-icons/s2.svg);
    width: 188px;
    border-bottom: 4px solid #28465e;
    font-weight: 700;
}

.reservation-step-number {
    background-color: #28465e;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3px;
}

.slick-next:before {
    color: black;
}

.slick-prev:before {
    color: black;
}

.star-checker {
    margin-top: 14px;
}

.star-checker input {
    display: none;
}

.star-checker label {
    margin: 0;
}

.star-checker input+label::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 3px;
    background-image: url(../img/reservation-icons/capa-1.svg);
    background-repeat: no-repeat;
}

.star-checker input:checked+label::after {
    background-image: url(../img/reservation-icons/capa-2.svg);
}

.reservation-filter-coast-inputs input {
    width: 85px;
    height: 28px;
    border-radius: 10px;
    border: none;
    padding: 0 5px;
    color: gray;
}

.reservation-filter-coast {
    padding-top: 17px;
}

.reservation-filter-coast-inputs {
    margin-top: 14px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 1px solid #7697aa;
    display: flex;
    justify-content: space-between;
    max-width: 234px;
}

.reservation-filter-stars {
    padding-bottom: 20px;
    padding-top: 19px;
    border-top: 1px solid #7697aa;
    border-bottom: 1px solid #7697aa;
}

.reservation-filter-services {
    padding-top: 20px;
    padding-bottom: 15px;
}

.reservation-filter-checkbox-block {
    padding-bottom: 25px;
}

.reservation-filter-checkbox-block label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.hotel-lish-head {
    font-size: 18px;
    color: #04415d;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 8px;
}

.hotel-list-stars>div {
    width: 20px;
    height: 20px;
    background-image: url(../img/reservation-icons/capa-2.svg);
    display: inline-block;
}

.hotel-list-stars>div.active {
    background-image: url(../img/reservation-icons/capa-1.svg);
}

.hotel-list-stars {
    margin-bottom: 15px;
}

.hotel-lish-quick-info {
    width: 230px;
}

.hotel-list-all-include {
    padding-top: 25px;
    border-left: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid;
    min-width: 220px;
    padding-left: 20px;
}

@media screen and (max-width:1200px) {
    .hotel-lish-quick-info {
        width: auto;
    }
    .hotel-list-all-include {
        border: 0px;
    }
}

@media screen and (max-width:576px) {
    .hotel-lish-quick-info {
        margin-top: 20px;
    }
}

.hotel-list-result {
    padding-left: ;
    text-align: center;
    padding: 0;
    padding-left: 20px;
    padding-top: 45px;
    font-size: 15px;
    /*    margin-left: auto;*/
}

.hotel-list-sum-row {
    color: #04415d;
}

@media screen and (max-width:447px) {
    .hotel-list-result {
        margin-left: 0;
    }
}

.hotel-list-sum {
    color: #05435f;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
}

.rub-hotel {
    font-family: sans-serif;
    color: #05435f;
    font-size: 20px;
    padding-left: 4px;
}

.hotel-list-sum {
    padding-left: 6px;
}

@media screen and (max-width:1050px) {
    .reservation-steps-slider {
        width: 90%;
    }
}

@media screen and (max-width:587px) {
    .reservation-steps-slider {
        width: 80%;
    }
}

.hotel-list-sort {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 613px;
    font-size: 14px;
    color: #676767;
    line-height: 1;
    margin-bottom: 25px;
}

@media screen and (max-width:992px) {
    .hotel-list-sort {
        padding-top: 10px;
        line-height: 1.5;
    }
}

@media screen and (max-width:576px) {
    .hotel-list-sort {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.hotel-list-sort i {
    padding-right: 10px;
}

.hotel-list-sort div.active {
    color: #2c8fb6;
}

.hotel-list-sort a {
    color: inherit;
}

.guests-menu {
    border: none;
    width: 352px;
    min-height: 41px!important;
    border-radius: 26px;
}

.guests-menu-count {
    height: 41px;
    display: flex;
    align-items: center;
}

.guest-menu-number {
    width: 90%;
    border: 1px gray solid;
    padding: 10px;
    text-align: center;
}

.transfer-steps {
    padding-top: 58px;
    padding-bottom: 10px;
}

.transfer-head h2 {
    color: #05435f;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.transfer-item {
    background-color: #f3f3f3;
    min-height: 138px;
    border-radius: 26px;
    padding: 15px;
    margin: 0 0;
}

.transfer-item>div {
    padding: 0;
}

.transfer-img {
    width: 148px;
}

.transfer-img>img {
    width: 111px;
    height: 111px;
    border-radius: 15px;
}

.transfer-class {
    width: 257px;
    padding-right: 32px'

}

.transfer-class-head {
    color: #05435f;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 1;
    margin-bottom: 7px;
}

.transfer-class-description {
    color: #686767;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 1.3;
}

.transfer-options {
    width: 259px;
    display: flex;
    flex-direction: column;
    min-height: 110px;
    justify-content: center;
    align-items: center;
    border-left: #dfdfdf 2px solid;
    border-right: #dfdfdf 2px solid;
}

.transfer-options>div {
    width: 182px;
    padding-left: 46px;
    color: #686767;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    margin-bottom: 12px;
}

.transfer-options>div>span {
    font-weight: 700;
}

.transfer-passengers {
    background-image: url(../img/icons/640491-200.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 33px 25px;
    height: 25px;
    display: flex;
    align-items: flex-end;
}

.transfer-bags {
    background-image: url(../img/icons/1.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 25px;
}

.transfer-item>div.transfer-coast {
    width: 205px;
    display: flex;
    flex-direction: column;
    min-height: 110px;
    justify-content: center;
    padding-left: 38px;
}

.transfer-coast-lettering {
    font-family: MyriadProRegular;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
}

.transfer-sum {
    color: #05435f;
    font-size: 30px;
    font-weight: 700;
}

.transfer-sum span {
    font-family: ArialRegular;
    color: #05435f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.transfer-button {
    display: flex;
    align-items: center;
}

.transfer-button a {
    background-color: #03b6e7;
    width: 164px;
    height: 44px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 47px;
}

.transfer-find {
    background-color: #05435f;
    width: 176px;
    height: 52px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.transfer-form {
    align-items: flex-end;
    padding-top: px;
}

.transfer-form input {
    padding-left: 20px;
    color: gray;
    padding-right: 20px;
}

.available-transfers {
    margin-bottom: 30px;
}

.available-transfers-head h2 {
    color: #686767;
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 23px;
}

.transfer-content {
    padding-bottom: 50px;
}

@media screen and (max-width:1200px) {
    .transfer-button a {
        margin-top: 20px;
    }
    .transfer-options {
        border: 0px;
    }
}

@media screen and (max-width:991px) {
    .transfer-find {
        margin-top: 15px;
        margin-left: 0px;
    }
}

@media screen and (max-width:767px) {
    .transfer-item {
        justify-content: center;
    }
}

@media screen and (max-width:553px) {
    .transfer-item>div.transfer-coast {
        padding-left: 0;
        width: auto;
    }
    .transfer-class {
        margin-top: 15px;
        text-align: center;
    }
    .transfer-options {
        align-items: flex-start;
        width: auto;
    }
    .transfer-item {
        flex-direction: column;
        align-items: center;
    }
    .transfer-button a {
        margin-left: 0;
    }
    .transfer-img {
        width: auto;
    }
}

.workflow-form input,
.workflow-form select {
    height: 52px!important;
    border: none;
    color: gray;
}

.workflow-form .date {}

.workflow-form select,
.workflow-form .workflow-find {
    width: 266px;
}

.workflow-form {
    justify-content: space-between;
    align-items: center;
}

.workflow-form-lettering {
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.workflow-form .workflow-find {
    background-image: url("../img/workflow-icons/search.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.workflow-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/workflow-icons/arrow-select.png");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.workflow-form-container {
    min-height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workflow-table {
    color: #666565;
    line-height: 20px;
    font-size: 15px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    width:1139px;
}

.workflow-table b {
    font-size: 15px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.workflow-table .small {
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.rubble-arial {
    font-family: ArialRegular;
    font-weight: 400;
}

.workflow-table-sum {
    color: #05435f;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.workflow-table th,
.workflow-table td {
    padding-left: 16px;
    
}
.workflow-table th{
    border-left:2px solid #dfdfdf;
    color:white;

}
.workflow-table td{
    padding-right: 7px;
    padding-top:25px;
    padding-bottom:30px;
    border:2px solid #dfdfdf;
    border-top:none;
}

.workflow-table .tr-head {
    height: 57px;
    background-color: #ababab;
}

.workflow-table .circle-top-left {
    border-top-left-radius: 26px;
    border-left:none;
padding-left: 11px;
}

.workflow-table .circle-top-right {
    border-top-right-radius: 26px;
}
.workflow-table td.workflow-table-documents{
    padding: 0;
}
.workflow-table-documents .workflow-table-documents-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
.workflow-table-documents .workflow-table-documents-container>div{
    padding-top: 13px;
    padding-bottom: 13px;
}

.workflow-table-people-name{
    padding-top: 18px;
}

.workflow-table-operation-description{
    padding-top: 28px;
}
.workflow-table-position{
    padding-top: 22px;
}
.workflow-table .not-signed{
    color:  #e70359;
}

.workflow-table .signed{
    color:  #10b067;
}
.workflow-table-documents-container>div{
    border-bottom: 2px solid #dfdfdf;
    padding-left: 16px;

}
.workflow-table-documents-container>div:last-of-type{
    border-bottom: red;

}
.workflow-table-container{
    overflow:scroll;
    overflow-y:hidden;
    margin-bottom: 65px;
}
.workflow-head h2 {
    color: #05435f;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.workflow-steps{
    padding-top:20px;
    padding-bottom: 15px;
}
.workflow-form-container{
    margin-bottom:35px;
}

@media screen and (max-width:1200px) {
    .workflow-form {
        justify-content: center;
    }
    .workflow-form .workflow-find,
    .workflow-form select,
    .workflow-find-block,
    .workflow-select-block{
        width:100%;
    }
    .workflow-form .workflow-find,
    .workflow-form select{
        margin-top: 15px;
    }
    .workflow-form .date{
        margin-left:10px;
        width:176px;
    }
}

@media screen and (max-width:768px) {
    .workflow-form-lettering{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:410px) {
    .workflow-form>div{
        width:100%;
    }
    .workflow-form>div>.date{
        margin-top: 15px;
        width:100%;
    }
    .workflow-form .date{
        margin-left:0;
    }
}