@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../fonts/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../fonts/proximanova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../fonts/proximanova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova/ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('../fonts/proximanova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}